doctype html
html
	include partials/head.jade
	body
		div.container
			include partials/header.jade
			include partials/about/main.jade
			include partials/footer.jade
		
		include partials/scripts.jade