head
	title 7AM:PM Home
	meta(content='width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0', id='viewport', name='viewport')
	link(href='/assets/css/main.css', rel='stylesheet')
	